USE [master]
GO
/****** Object:  Database [BankingManagementDB]    Script Date: 01-10-2026 16:00:19 ******/
CREATE DATABASE [BankingManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankingManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BankingManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankingManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BankingManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankingManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankingManagementDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 01-10-2026 16:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AccountNumber] [nvarchar](20) NOT NULL,
	[AccountType] [nvarchar](30) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountTransactions]    Script Date: 01-10-2026 16:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTransactions](
	[AccountTransactionId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[TransactionType] [nvarchar](20) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ReferenceNumber] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankBranches]    Script Date: 01-10-2026 16:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankBranches](
	[BankBranchId] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[BranchName] [nvarchar](100) NOT NULL,
	[IFSCCode] [nvarchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BankBranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankingTransactions]    Script Date: 01-10-2026 16:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankingTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[FromAccountId] [int] NOT NULL,
	[ToAccountId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ReferenceNumber] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beneficiaries]    Script Date: 01-10-2026 16:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiaries](
	[BeneficiaryId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[BeneficiaryName] [nvarchar](100) NOT NULL,
	[AccountNumber] [nvarchar](20) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[IFSCCode] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[BankBranchId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BeneficiaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 01-10-2026 16:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DateOfBirth] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransactions]    Script Date: 01-10-2026 16:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransactions](
	[PaymentTransactionId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentMethod] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ReferenceNumber] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01-10-2026 16:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[PasswordResetToken] [nvarchar](200) NULL,
	[PasswordResetTokenExpiry] [datetime] NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [CustomerId], [AccountNumber], [AccountType], [Balance], [Status], [CreatedDate]) VALUES (5, 4, N'ACC20260911115911586', N'Current', CAST(70299.00 AS Decimal(18, 2)), N'Active', CAST(N'2026-09-11T11:59:11.587' AS DateTime))
INSERT [dbo].[Accounts] ([AccountId], [CustomerId], [AccountNumber], [AccountType], [Balance], [Status], [CreatedDate]) VALUES (6, 1002, N'ACC20260929105718641', N'Savings', CAST(6200.00 AS Decimal(18, 2)), N'Active', CAST(N'2026-09-29T10:57:18.640' AS DateTime))
INSERT [dbo].[Accounts] ([AccountId], [CustomerId], [AccountNumber], [AccountType], [Balance], [Status], [CreatedDate]) VALUES (7, 1003, N'ACC20260929105738623', N'Current', CAST(79000.00 AS Decimal(18, 2)), N'Active', CAST(N'2026-09-29T10:57:38.623' AS DateTime))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountTransactions] ON 

INSERT [dbo].[AccountTransactions] ([AccountTransactionId], [AccountId], [TransactionType], [Amount], [TransactionDate], [Status], [ReferenceNumber]) VALUES (1, 5, N'Deposit', CAST(1000.00 AS Decimal(18, 2)), CAST(N'2026-09-22T15:28:04.580' AS DateTime), N'Success', N'DEP20260922152804578')
INSERT [dbo].[AccountTransactions] ([AccountTransactionId], [AccountId], [TransactionType], [Amount], [TransactionDate], [Status], [ReferenceNumber]) VALUES (2, 5, N'Withdrawal', CAST(1000.00 AS Decimal(18, 2)), CAST(N'2026-09-22T15:43:54.987' AS DateTime), N'Success', N'WDL20260922154354985')
INSERT [dbo].[AccountTransactions] ([AccountTransactionId], [AccountId], [TransactionType], [Amount], [TransactionDate], [Status], [ReferenceNumber]) VALUES (3, 5, N'Deposit', CAST(2000.00 AS Decimal(18, 2)), CAST(N'2026-09-22T15:44:21.997' AS DateTime), N'Success', N'DEP20260922154421995')
SET IDENTITY_INSERT [dbo].[AccountTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[BankBranches] ON 

INSERT [dbo].[BankBranches] ([BankBranchId], [BankName], [BranchName], [IFSCCode]) VALUES (1, N'State Bank of India', N'Mumbai Main Branch', N'SBIN0001234')
INSERT [dbo].[BankBranches] ([BankBranchId], [BankName], [BranchName], [IFSCCode]) VALUES (2, N'HDFC Bank', N'Mumbai Main Branch', N'HDFC0001234')
INSERT [dbo].[BankBranches] ([BankBranchId], [BankName], [BranchName], [IFSCCode]) VALUES (3, N'ICICI Bank', N'Mumbai Main Branch', N'ICIC0001234')
SET IDENTITY_INSERT [dbo].[BankBranches] OFF
GO
SET IDENTITY_INSERT [dbo].[BankingTransactions] ON 

INSERT [dbo].[BankingTransactions] ([TransactionId], [FromAccountId], [ToAccountId], [Amount], [TransactionDate], [Status], [ReferenceNumber]) VALUES (1004, 5, 6, CAST(1000.00 AS Decimal(18, 2)), CAST(N'2026-09-29T10:58:15.853' AS DateTime), N'Success', N'TXN20260929105815852')
INSERT [dbo].[BankingTransactions] ([TransactionId], [FromAccountId], [ToAccountId], [Amount], [TransactionDate], [Status], [ReferenceNumber]) VALUES (1005, 7, 5, CAST(1000.00 AS Decimal(18, 2)), CAST(N'2026-09-29T12:38:51.407' AS DateTime), N'Success', N'TXN20260929123851403')
SET IDENTITY_INSERT [dbo].[BankingTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Beneficiaries] ON 

INSERT [dbo].[Beneficiaries] ([BeneficiaryId], [CustomerId], [BeneficiaryName], [AccountNumber], [BankName], [IFSCCode], [CreatedDate], [BankBranchId]) VALUES (3, 4, N'test1', N'ACC20260911115729626', N'HDFC Bank', N'HDFC0001234', CAST(N'2026-09-17T12:03:31.927' AS DateTime), 2)
INSERT [dbo].[Beneficiaries] ([BeneficiaryId], [CustomerId], [BeneficiaryName], [AccountNumber], [BankName], [IFSCCode], [CreatedDate], [BankBranchId]) VALUES (1003, 4, N'neha', N'ACC20260911115729626', N'ICICI Bank', N'ICIC0001234', CAST(N'2026-09-29T09:51:46.163' AS DateTime), 3)
INSERT [dbo].[Beneficiaries] ([BeneficiaryId], [CustomerId], [BeneficiaryName], [AccountNumber], [BankName], [IFSCCode], [CreatedDate], [BankBranchId]) VALUES (1005, 1003, N'neha', N'ACC20260911115911586', N'ICICI Bank', N'ICIC0001234', CAST(N'2026-09-29T12:38:28.637' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Beneficiaries] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [UserId], [FullName], [Email], [PhoneNumber], [Address], [CreatedDate], [DateOfBirth]) VALUES (4, 7, N'rajesh gopal', N'nehanagvekar2005@gmail.com', N'08432640175', N'h.no101/3b auchut avddo tivim', CAST(N'2026-09-11T11:58:48.640' AS DateTime), CAST(N'2026-09-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [UserId], [FullName], [Email], [PhoneNumber], [Address], [CreatedDate], [DateOfBirth]) VALUES (1002, 1004, N'neha nagvekar', N'23co37@aiemgoa.ac.in', N'08432640175', N'h.no101/3b auchut avddo tivim', CAST(N'2026-09-25T13:27:00.827' AS DateTime), CAST(N'2026-09-14T00:00:00.000' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [UserId], [FullName], [Email], [PhoneNumber], [Address], [CreatedDate], [DateOfBirth]) VALUES (1003, 1005, N'mihir nagvekar', N'23co37@aiemgoa.ac.in', N'08432640175', N'h.no101/3b auchut avddo tivim', CAST(N'2026-09-29T10:07:30.413' AS DateTime), CAST(N'2026-09-14T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentTransactions] ON 

INSERT [dbo].[PaymentTransactions] ([PaymentTransactionId], [AccountId], [Amount], [PaymentDate], [PaymentMethod], [Status], [ReferenceNumber]) VALUES (1, 5, CAST(2000.00 AS Decimal(18, 2)), CAST(N'2026-09-25T09:54:08.560' AS DateTime), N'Razorpay', N'Success', N'PAY-order_Tg8WsF3XD9o4Lw')
INSERT [dbo].[PaymentTransactions] ([PaymentTransactionId], [AccountId], [Amount], [PaymentDate], [PaymentMethod], [Status], [ReferenceNumber]) VALUES (2, 5, CAST(200.00 AS Decimal(18, 2)), CAST(N'2026-09-25T09:54:35.573' AS DateTime), N'Razorpay', N'Failed', N'PAY-order_Tg8XTKyqj8ZLmA')
INSERT [dbo].[PaymentTransactions] ([PaymentTransactionId], [AccountId], [Amount], [PaymentDate], [PaymentMethod], [Status], [ReferenceNumber]) VALUES (3, 5, CAST(2000.00 AS Decimal(18, 2)), CAST(N'2026-09-25T10:08:50.660' AS DateTime), N'Razorpay', N'Success', N'PAY-order_Tg8mcWiNMwUI8s')
SET IDENTITY_INSERT [dbo].[PaymentTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Role], [IsActive], [CreatedDate], [PasswordResetToken], [PasswordResetTokenExpiry], [Email]) VALUES (3, N'neha1', N'm1234', N'admin', 1, CAST(N'2026-09-08T17:21:40.903' AS DateTime), NULL, NULL, N'23co37@aiemgoa.ac.in')
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Role], [IsActive], [CreatedDate], [PasswordResetToken], [PasswordResetTokenExpiry], [Email]) VALUES (4, N'neha2', N'123', N'customer', 1, CAST(N'2026-09-10T10:23:13.787' AS DateTime), NULL, NULL, N'nehanagvekar2005@gmail.com')
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Role], [IsActive], [CreatedDate], [PasswordResetToken], [PasswordResetTokenExpiry], [Email]) VALUES (7, N'rajesh', N'1111', N'customer', 1, CAST(N'2026-09-11T11:58:48.613' AS DateTime), NULL, NULL, N'nehanagvekar2005@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__BE2ACD6F95779C33]    Script Date: 01-10-2026 16:00:21 ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AccountT__C5ADBE4D45D064B2]    Script Date: 01-10-2026 16:00:21 ******/
ALTER TABLE [dbo].[AccountTransactions] ADD UNIQUE NONCLUSTERED 
(
	[ReferenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BankBran__6C74377F83D1F5AA]    Script Date: 01-10-2026 16:00:21 ******/
ALTER TABLE [dbo].[BankBranches] ADD UNIQUE NONCLUSTERED 
(
	[IFSCCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4D95887C4]    Script Date: 01-10-2026 16:00:21 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BankingTransactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Customers]
GO
ALTER TABLE [dbo].[AccountTransactions]  WITH CHECK ADD  CONSTRAINT [FK_AccountTransactions_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[AccountTransactions] CHECK CONSTRAINT [FK_AccountTransactions_Accounts]
GO
ALTER TABLE [dbo].[BankingTransactions]  WITH CHECK ADD  CONSTRAINT [FK_BankingTransactions_FromAccount] FOREIGN KEY([FromAccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[BankingTransactions] CHECK CONSTRAINT [FK_BankingTransactions_FromAccount]
GO
ALTER TABLE [dbo].[BankingTransactions]  WITH CHECK ADD  CONSTRAINT [FK_BankingTransactions_ToAccount] FOREIGN KEY([ToAccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[BankingTransactions] CHECK CONSTRAINT [FK_BankingTransactions_ToAccount]
GO
ALTER TABLE [dbo].[Beneficiaries]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiaries_BankBranches] FOREIGN KEY([BankBranchId])
REFERENCES [dbo].[BankBranches] ([BankBranchId])
GO
ALTER TABLE [dbo].[Beneficiaries] CHECK CONSTRAINT [FK_Beneficiaries_BankBranches]
GO
ALTER TABLE [dbo].[Beneficiaries]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiaries_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Beneficiaries] CHECK CONSTRAINT [FK_Beneficiaries_Customers]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransactions_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PaymentTransactions_Accounts]
GO
USE [master]
GO
